.my-red{
  color: red;
}

.my-div{
  p{
    color: blue;
  }
}

.my-btn{
  margin-right: 5px;
  margin-bottom:5px;
  margin-top:5px;
}

.my-input{
  width: 400px;
}

.my-submit{
  margin-left:5px;
}
::-webkit-input-placeholder {
   color: black;
}